#visit-card-container-section {
    padding: 25px 20px 0 20px;
}

#visit-comments-container-section {
    padding: 25px 20px 0 20px;
}

#visit-card-container-section h2 {
    color: var(--font-color-main);
    font-size: 20px;
}

#visit-comments-container-section h2 {
    color: var(--font-color-main);
    font-size: 20px;
}

.dct-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dct-comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color-comments);
}

@media(min-width: 576px) {
    
    #visit-card-container-section h2 {
    font-size: 32px;
}

#visit-comments-container-section h2 {
    font-size: 32px;
}

}