.dct-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-color-card);
    border-radius: 10px;
    width: 100%;
    max-width: 746px;
    margin-bottom: 25px;
}

.dct-card-top {
    padding: 10px;
}

.dct-card-top img {
    width: 100%;
    max-width: 391px;
}

.dct-card-bottom {
    padding-bottom: 10px;
}

.dct-card-bottom p {
    color: var(--font-color-main);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

@media(min-width: 576px) {
    .dct-card-bottom p {
        font-size: 20px;
    }
}