header {
    background-color: var(--bg-color-header);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: var(--font-color-header);
    font-size: 20px;
}

@media(min-width: 576px) {
    header h1{
        font-size: 24px;
    }
}