footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-footer);
    height: 120px;
    padding: 0 20px;
}

.dct-footer-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 960px;
}

.dct-footer-texts p {
    color: var(--font-color-footer);
    font-weight: 400;
    text-align: center;
}

@media(min-width: 576px) {

.dct-footer-texts {
    flex-direction: row;
    justify-content: space-between;
}
}